/* Header Discografia */
.discografia-header {
    padding: 60px 32px 20px 32px;
}

.discografia-header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

/* Griglia Album */
.album-grid {
    padding: 0 32px;
    display: flex;
    flex-wrap: wrap; /* Fa andare a capo gli album se non c'è spazio */
    gap: 24px;      /* Spazio tra un album e l'altro */
}

/* Card dell'Album */
.album-card {
    background-color: #181818;
    padding: 16px;
    width: 190px;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.album-card:hover {
    background-color: #282828; /* Si schiarisce al passaggio del mouse */
}

.album-card img {
    width: 100%;
    aspect-ratio: 1 / 1; /* Forza l'immagine a essere quadrata */
    height: 190px;        /* Forza l'altezza a 190px (o la larghezza della card) */
    object-fit: cover;    /* Ritaglia l'immagine per riempire lo spazio senza distorcerla */
    object-position: center; /* Centra il ritaglio */
    border-radius: 4px;
    margin-bottom: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}

.album-card h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 8px;
    white-space: nowrap;    /* Non fa andare il testo a capo */
    overflow: hidden;       /* Nasconde il testo in eccesso */
    text-overflow: ellipsis; /* Aggiunge i tre puntini se il titolo è lungo */
}

.album-card p {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0;
}